{% extends "_layout.html" %}
{% block title %}Nossos Produtos - StyleShop{% endblock %}
{% block content %}
<section class="py-16">
    <div class="container mx-auto px-6">
        <h1 class="heading text-4xl text-center mb-12">Todos os Produtos</h1>
        <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-x-6 gap-y-10">
            {% for produto in produtos %}
                {% if produto.imagens and produto.imagens|length > 0 %}
                <a href="{{ url_for('routes.product_detail', product_id=produto._id) }}" class="group">
                    <div class="overflow-hidden rounded-md">
                        <img src="{{ url_for('static', filename='uploads/' + produto.imagens[0]) }}" alt="{{ produto.nome }}" class="w-full aspect-[4/5] object-cover transition-transform duration-300 group-hover:scale-105">
                    </div>
                    <h3 class="font-semibold mt-4 text-zinc-900">{{ produto.nome }}</h3>
                    <p class="text-zinc-700">R$ {{ "%.2f"|format(produto.preco|float) }}</p>
                </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}